*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 18px;
    color: floralwhite;
    text-shadow: 2px 2px 6px rgba(150, 150, 206, 1);
}

.body {
  overflow: scroll;
}

.menu-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 4vw;
  justify-content: space-between;
  align-items:stretch;
  justify-content: center;
  align-items: center;
}

.menu-container > .top-bar-menu {
  top: -20%;
  transition-timing-function: cubic-bezier(0,0,0.58,1);
  transition-property: top;
  transition-duration: .35s;
}

.top-bar-menu {
  z-index: 1;
  display: flex;
  position: fixed;
  width: 100vw;

  padding: 20px 0;
  justify-content:space-around;
  align-items: center;
  height: 8%;
  max-height: 71.89vh;


  background: rgb(143,205,236);
  background: radial-gradient(circle, rgba(143,205,236,1) 14%, rgba(79,153,219,0.9990195907464549) 89%);
}

.top-bar-menu > h1 {
    font-size: 2vw;
}

.menu-container:hover > .top-bar-menu{
  top: 0%
}

.top-bar-button {
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    border: none;
    border-spacing: 1vh;
    height: 7.88vh;
    width: 23vh;
    font-weight: bolder;
    font-size: 1.35vw;
    align-items: center;
    justify-content: center;
}

.top-bar-button {
  cursor: pointer;
  padding-left: 3%;
  padding-right: 3%;
  transition-property: border-bottom;
  transition-duration: .10s;
}

.top-bar-button {
  transition: box-shadow .10s;
}

.top-bar-button:hover {
    border-bottom: 5px groove white;
}

.top-bar-button:active {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;

}


.side-panel-container {
  display: flex;
  position: fixed;
  align-self: flex-end;
  z-index: 0;
  width: 15%;
  height: 100%;
  background-color: #9CCDE2;
  background: rgb(239,250,250);
  background: linear-gradient(180deg, rgba(163,225,256,1) 14%, rgba(99,173,239,0.9990195907464549) 89%);
}

.side-panel-container {
  justify-content: space-between;
  align-items:center;
  flex-direction:row;
  flex-wrap: wrap;
}

.side-panel-container > div > h1,
.side-panel-container > div > p {
    padding-left: 8px;
    font-size: 1.5vw;
}
